{% extends 'base.html.twig' %}
{% block body %}
         <br>
        <br>
        <section class="about_section" >
         <div class="container">
              <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 order-lg-last">
                  <div class="image_widget">
                    <img
                    src="{{asset('assets/images/gallery/fond1.png')}}"
                      alt="About Image - HelpMeBalance"
                    />
                    <div class="image_shape bg_primary_light"></div> 
                    <div class="about_video_icon">
                      <a
                        class="video_play_btn popup_video"
                        href="https://www.youtube.com/watch?v=fKB_bdxIbdI"
                      >
                        <i class="fa-duotone fa-play"></i>
                      </a>
                    </div> 
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="about_content"style="padding: 30px;">
                    <div class="section_heading mb-4" >
                      <h2 class="section_heading_text">
                        <mark>Dostourna : </mark> Soutenez les Projets Innovants des Jeunes
                      </h2>
                        <p class="section_heading_description mb-0">
                        <b>Dostourna est une plateforme dédiée à soutenir les jeunes entrepreneurs</b> 
                        en leur offrant <b>une opportunité unique de financer leurs projets grâce aux dons en cryptomonnaie</b>. 
                        <br>Nous croyons en <b>l'innovation</b> et la <b>création d'opportunités d'emploi durables</b> 
                        pour un <b>avenir prospère</b>.
                        </p>
                    </div>
                    <div class="row">
                      <div class="col-md-5 col-sm-6">
                        <ul class="info_list unordered_list_block">
                          <li>
                            <span class="info_icon">
                              <i class="fa-light fa-circle-check"></i>
                            </span>
                            <span class="info_text">Financement en Cryptomonnaie</span>
                          </li>
                          <li>
                            <span class="info_icon">
                              <i class="fa-light fa-circle-check"></i>
                            </span>
                            <span class="info_text">Opportunités d'Emploi</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-5 col-sm-6">
                        <ul class="info_list unordered_list_block">
                          <li>
                            <span class="info_icon">
                              <i class="fa-light fa-circle-check"></i>
                            </span>
                            <span class="info_text">Soutien aux Entrepreneurs</span>
                          </li>
                          <li>
                            <span class="info_icon">
                              <i class="fa-light fa-circle-check"></i>
                            </span>
                            <span class="info_text">Connectez Donateurs et Projets</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                     <div class="row">
                    <div class="col-md-5 col-sm-6"> 
                    <div class="btn_wrap pb-0">
                        <a class="btn btn-primary " href="{{ path('app_projects', {'cat': 0 ,'page':1}) }}">
                                <span class="btn_text" data-text="maintenant">
                                    Faire un Don
                                </span>
                                <span class="btn_icon">
                                    <i class="fa-solid fa-arrow-up-right"></i>
                                </span>
                            </a>
                    </div>
                    </div>
                   <div class=" col-sm-6"> 
                    <div class="btn_wrap pb-0">
                       <a class="btn btn-outline-secondary" href="#">
                            <span class="btn_text" data-text="votre premier pas">
                                Participer à un Projet
                            </span>
                            <span class="btn_icon">
                                <i class="fa-solid fa-arrow-up-right"></i>
                            </span>
                            </a>
                    </div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
           <section class="funfact_section " >
            <div class="container">
              <div class="counter_wrapper">
                <div class="row align-items-center text-center">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="counter_item">
                        <div class="counter_value">
                          <span class="odometer" data-count="80">0</span>
                          <span>%</span>
                        </div>
                        <p class="counter_title">
                             Projets <b>Financés</b>
                        </p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="counter_item">
                        <div class="counter_value">
                          <span class="odometer" data-count="140">0</span>
                          <span>+</span>
                        </div>
                        <p class="counter_title">
                            <b>Jeunes Entrepreneurs</b> Soutenus
                        </p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="counter_item">
                        <div class="counter_value ">
                          <span class="odometer" data-count="200">0</span>
                          <span>+</span>
                        </div>
                        <p class="counter_title">
                          Opportunités d'<b>Emploi</b> Créées
                        </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Counter Section - End
          ================================================== -->
           <!-- Work Process Section - Start
        ================================================== -->
        <section class="work_process_section section_space_lg">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-last">
                    <div class="images_group_widget"  >
                        <ul class="unordered_list">
                          <li>
                            
                            <img
                              src="{{asset('assets/images/gallery/fond1.png')}}"
                              alt="Help Me Balance"
                            />
                            <img
                              src="{{asset('assets/images/gallery/fond1.png')}}"
                              alt="Help Me Balance"
                            />
                          </li>
                          <li>
                            <img
                              src="{{asset('assets/images/gallery/fond1.png')}}"
                              alt="Help Me Balance"
                            />
                            <img
                              src="{{asset('assets/images/gallery/fond1.png')}}"
                              alt="Help Me Balance"
                            />
                          </li>
                        </ul>
                      </div>
                </div>
                <div class="col-lg-6">
                  <div class="section_heading">
                    <h2 class="section_heading_text mb-0">
                      Étapes de financement de projets
                    </h2>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="work_process_item">
                        <div class="serial_number">01</div>
                        <a class="btn-link item_title" href="{{ path('app_home') }}">
                            <span class="btn_text">Soumettez votre Projet</span>
                            <span class="btn_icon"
                              ><i class="fa-solid fa-arrow-up-right"></i
                            ></span>
                          </a>
                        <p class="mb-0">
                             Remplissez le <b>formulaire</b> sur notre site pour soumettre votre projet et demander un financement.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="work_process_item">
                        <div class="serial_number">02</div>
                        <h3 class="item_title" >Évaluation du Projet</h3>
                        <p class="mb-0">
                            Notre équipe examinera votre <b>projet</b> pour s'assurer qu'il répond à nos critères de <b>financement</b>.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="work_process_item">
                        <div class="serial_number">03</div>
                         <a class="btn-link item_title" href="{{ path('app_projects', {'cat': 0 ,'page':1}) }}">
                            <span class="btn_text">Collecte de Fonds</span>
                            <span class="btn_icon"
                              ><i class="fa-solid fa-arrow-up-right"></i
                            ></span>
                          </a>
                        <p class="mb-0">
                            Une fois approuvé, nous lancerons une <b>campagne</b> pour collecter des fonds en cryptomonnaie pour votre projet.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="work_process_item">
                        <div class="serial_number">04</div>
                        <h3 class="item_title">Suivi et Rapport</h3>
                        <p class="mb-0">
                            Après la collecte, nous <b>évaluons</b> l'impact et <b>fournissons</b> des mises à jour sur l'avancement de votre projet.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
{% endblock %} 