{% extends 'base.html.twig' %}
{% set now = "now"|date("Y-m-d H:i:s") %}
{% set createdAt = projet.createdAt|date("Y-m-d H:i:s") %}
{% set interval = (now|date('U') - createdAt|date('U'))|abs %}

{% set days = interval // 86400 %}
{% set months = days // 30 %}
{% set remainingDays = days % 30 %}

{% block pageBannerurlretour %}
                <li><a href="{{path('app_projects', { 'cat': projet.categorie.id ,'page': 1}) }}">{{projet.categorie.name}}</a></li>
                <li>{{ title }}</li>
 {% endblock %}
{% block body %} 
        <section class="blog_section ">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 position-relative">
                 <div class="blog_image">
                    <img
                    {% if projet.image is not null %}
                     {% set url='uploads/projet_pictures/'~projet.image %} 
                    src="{{ asset(url)  }}"  
                    {% else %}
                     src="{{asset('assets/images/gallery/' ~ random(1,5) ~ '.png')}}"
                    {% endif %} 
                    alt="HelpMeBalance"
                    style="width: 1200px; height: 400px; "
                    />
                    <div class="d-flex justify-content-end "  style="margin-top: 10px;">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and projet.user.id == app.user.id %}
                                <a class="btn btn-outline-secondary" href="{{path('app_project_edit', {'id': projet.id})}}" style="margin-left: 20px;">
                                <span class="btn_text"data-text="Maintenant">Mettre À Jour</span>
                                <span class="btn_icon"
                                    ><i class="fa-solid fa-pen"></i
                                ></span>
                                </a>
                            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="btn btn-primary open-modal-btn-don" 
                                data-price="{{ projet.price }}" 
                                data-current-funding="{{ projet.currentFunding }}"   
                                data-project-id="{{ projet.id }}"                       
                                style="margin-left: 20px;">
                            <span class="btn_text"  data-text="Maintenant" >Faire Un Don</span>
                            <span class="btn_icon"
                                ><i class="fa-regular fa-circle-dollar-to-slot"></i
                            ></span>
                            </a>
                    {% endif %}
                    </div>
                </div>
                
                <div class="details_content" style="margin-top: 10px;">
                    <ul class="post_meta unordered_list mb-4">
                        <li>
                             {{ projet.user.lastName|capitalize }} {{ projet.user.firstName|capitalize }}
                        </li>
                        <li>
                            {{ projet.createdAt ? projet.createdAt|date('j F Y H:i:s') : '' }} <i class="fa-regular fa-calendar-days"></i>
                        </li>
                    </ul>                    
                    <div class="container my-5">
                        <div class="details_header text-center mb-4">
                            <h2 class="item_title">{{ projet.name }} <i class="fa-duotone fa-solid fa-bars-progress"></i></h2>
                            <p >
                                <strong class="text-secondary" ><i class="fa-solid fa-calendar-alt"></i> Lancé :</strong>
                                {% if months > 0 %}
                                    {{ ' il y a ' ~ months ~ ' mois' ~ (remainingDays > 0 ? ', ' ~ remainingDays ~ ' jours' : '') }}
                                        {% elseif days > 0 %}
                                    {{ ' il y a ' ~ days ~ ' jour' ~ (days > 1 ? 's' : '') }}
                                        {% else %}
                                            {{ ' aujourd\'hui' }}
                                        {% endif %}
                            </p>
                        </div>                        
                        <div class="row"  >
                            <!-- Left Column: General Info -->
                            <div class="col-md-6">                               
                                <div class="card mb-3" style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                                    <div class="card-body">
                                        <h5><i class="fas fa-tags"></i> Type de Projet</h5>
                                        <p>{{ projet.type|capitalize }}</p>
                                    </div>
                                </div>                               
                            </div>
                            <!-- Right Column: Description and Progress Bar -->
                            <div class="col-md-6">
                                <div class="card mb-3"style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                                    <div class="card-body">
                                        <h5><i class="fas fa-info-circle"></i> Status du Projet</h5>
                                        <p>{{ projet.status|capitalize }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-12">
                                <div class="card mb-3"style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                                    <div class="card-body text-center">
                                     <h5><i class="fas fa-align-left"></i> Description</h5>
                                        <p>{{ projet.description|capitalize }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card mb-3" style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                                    <div class="card-body text-center" >
                                        <h5><i class="fas fa-money-bill-wave"></i> Progression du Financement</h5>
                                        <p>{{ projet.currentFunding }} <i class="fa-solid fa-hexagon-vertical-nft"></i> collectés sur {{ projet.price }} <i class="fa-solid fa-hexagon-vertical-nft"></i></p>
                                        <div class="progress" style="height: 25px; background-color: #f2f2f2; border-radius: 5px; box-shadow: inset 0 1px 3px rgba(0,0,0,.2);">
                                            <div class="progress-bar" role="progressbar" 
                                                style="width: {{ (projet.currentFunding / projet.price) * 100 }}%; 
                                                    background-color: #646aa4; 
                                                    font-weight: bold;
                                                    font-size: 16px;
                                                    color: white;
                                                    line-height: 25px; 
                                                    text-align: center;
                                                    border-radius: 5px;">
                                                {{ ((projet.currentFunding / projet.price) * 100) | number_format(1) }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                            <div class="blog_image" id="map{{ projet.id }}" style="width: 100%; height:400px;position: relative; left: 50%; transform: translateX(-50%); margin-top: 20px;">
                            </div>             
                               <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        var latitude = {{ projet.latitude }};
                                        var longitude = {{ projet.longitude }};
                                        var projectName = "{{ projet.name }}"; 

                                        // Initialize the map centered on the given coordinates
                                        var map = L.map('map{{ projet.id }}').setView([latitude, longitude], 10);
                                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                            maxZoom: 19,
                                            attribution: '© OpenStreetMap'
                                        }).addTo(map);

                                        // Function to fetch region name based on coordinates
                                        function fetchRegionName(lat, lng) {
                                            return fetch(`https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`)
                                                .then(response => response.json())
                                                .then(data => {
                                                    return data.display_name || 'Region Inconnue'; // Fallback if no region found
                                                })
                                                .catch(error => {
                                                    console.error('Error fetching region name:', error);
                                                    return 'Unknown Region'; // Fallback in case of error
                                                });
                                        }

                                        // Create the marker and fetch region name
                                        fetchRegionName(latitude, longitude).then(regionName => {
                                            var marker = L.marker([latitude, longitude]).addTo(map)
                                                .bindPopup(`
                                                
                                                    <div style="text-align: center;">
                                                        <strong style="font-size: 18px; display: block;">${regionName}</strong><br> <!-- Region name above the button -->
                                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and projet.user.id == app.user.id %}
                                                            <a class="btn btn-outline-secondary" href="{{path('app_project_edit', {'id': projet.id})}}" style="margin-left: 20px;">
                                                            <span class="btn_text"data-text="Maintenant">Mettre À Jour</span>
                                                            <span class="btn_icon"
                                                                ><i class="fa-solid fa-pen"></i
                                                            ></span>
                                                            </a>
                                                        {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                        <a class="btn btn-primary open-modal-btn-don" 
                                                            data-price="{{ projet.price }}" 
                                                            data-current-funding="{{ projet.currentFunding }}"   
                                                            data-project-id="{{ projet.id }}"                       
                                                            style="margin-left: 20px;">
                                                        <span class="btn_text"  data-text="${projectName}" >Faire Un Don</span>
                                                        <span class="btn_icon"
                                                            ><i class="fa-regular fa-circle-dollar-to-slot"></i
                                                        ></span>
                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                `, { offset: L.point(0, -20) });

                                            marker.openPopup(); // Open the popup with region name
                                        });

                                        // Event listener for zoom changes to keep the marker in the center
                                        map.on('zoomend', function() {
                                            map.setView([latitude, longitude], map.getZoom()); // Keep the marker centered after zooming
                                        });
                                    });
                                </script>

                       
                    </div>
                </div>    
                </div>
                <div class="col-lg-4">
                  <aside class="sidebar ps-lg-4">                  
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                      <a class="btn btn-outline-secondary" href="{{ path('add_project') }}" style="width: 100%;border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); justify-content: center;">
                              <span class="btn_text" data-text="votre premier pas">
                                  Créer Votre Projet 
                              </span>
                              <span class="btn_icon" >
                                  <i class="fa-solid fa-layer-plus fa-xl"></i>
                              </span>
                              </a>       
                    {% else %}
                        <a class="btn btn-outline-secondary" href="{{ path('app_user_login')}}" style="width: 100%;border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); justify-content: center;">
                              <span class="btn_text" data-text="Bienvenue Parmis Nous">
                                  Se connecter pour créer un projet
                              </span>
                              <span class="btn_icon">
                                  <i class="fa-solid fa-right-to-bracket"></i>
                              </span>
                              </a> 
                    {% endif %}
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="help me balance"
                          />
                        </span>
                        <span class="title_text">Catégories</span>
                      </h3>
                      <ul class="post_category_list unordered_list_block">
                        {% set sortedCategories = categories|sort((a, b) => (a.investments|length) < (b.investments|length)) %}
                        {% for categorie in sortedCategories %}
                        <li>
                          <a href="{{ path('app_projects', { 'cat': categorie.id ,'page': 1}) }}">
                            <span class="category_name">{% if categorie.id == projet.categorie.id %}<mark>{{categorie.name }}</mark>{% else %}{{categorie.name }} {% endif %}</span>                     
                            {% if categorie.investments|length == 0 %}
                            <span class="category_counter">Nouvelle</span>
                            {% else %}
                            <span class="category_counter">{{ categorie.investments|length }}</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="help me balance"
                          />
                        </span>
                        <span class="title_text">Découvrir les projets à succès</span>
                      </h3>
                      <ul class="reecommended_post_group unordered_list_block">
                        {% for projet in reccprojets|slice(0, 3) %}
                        <li>
                          <div class="blog_item_small">
                            <div class="blog_image">
                              <a class="blog_image_wrap" href="{{path('project_detail', {'id': projet.id})}}">
                                <img
                                 src="{{asset('assets/images/gallery/' ~ random(1,5) ~ '.png')}}"
                                alt="HelpMeBalance"
                                />
                              </a>
                            </div>
                            <div class="blog_content">
                              <h3 class="item_title">
                                <a href="{{path('project_detail', {'id': projet.id})}}">
                                    {{ projet.name }}
                                </a>
                              </h3>
                             <ul class="post_meta unordered_list" style="display: flex; justify-content: space-between; align-items: center; white-space: nowrap;">
                            <li style="flex: 1;">{{ projet.type }} <i class="fa-solid fa-list-check"></i></li>                          
                            <li style="flex: 2; display: flex; align-items: center; white-space: nowrap; ">
                                <progress style="flex-shrink: 1; min-width: 100px; max-width: 200px; width: 100%;  " 
                                          value="{{ projet.currentFunding }}" 
                                          max="{{ projet.price }}">
                                    {{ projet.currentFunding }}%
                                </progress>
                                <span style="margin-left: 10px;">
                                    {{ projet.currentFunding }} / {{ projet.price }} <i class="fa-solid fa-money-bill-trend-up"></i>
                                </span>
                            </li>
                        </ul>

                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    
                  </aside>
                </div>
            </div>
            </div>
          </section>

            <div id="popupModaldon" class="modal">
              <div class="modal-content">
                  <span class="close">&times;</span>
                 <div class="modal-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                      <div class="donations" style=" text-align: center;">
                      <h2 class="donations__progress">
                        <i class="fa-solid fa-bitcoin-sign"></i> <span class="donations__amount">{{ projet.currentFunding|number_format(2, '.', ',') }}</span> / <span class="donations__target-price">{{ projet.price|number_format(2, '.', ',') }}</span> <i class="fa-solid fa-bitcoin-sign"></i>
                      </h2>  
                      <div class="donations__text">
                        Il reste encore <span class="projet_needs"> {{ (projet.price - projet.currentFunding)|number_format(2, '.', ',') }}</span> à financer pour ce projet.
                      </div>
                      <form class="donations__form" action="{{ path('donation_submit') }}" method="post" onsubmit="return validateForm()" name="donnationsForm">
                         <div style="margin-bottom: 15px;">
                        <label for="donationAmount" style="display: block; font-weight: bold; margin-bottom: 8px;">Montant à donner</label>
                        <div style="display: flex; align-items: center; gap: 10px;  justify-content: center;">
                        <span class="donations__input-icon"><i class="fa-solid fa-bitcoin-sign"></i></span> 
                        <input class="donations__input" name="donationAmount" type="number" value="500" title="₿" required min="0"style="border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);"/>
                        <input type="hidden" name="projectId" class="projectId" value="{{ projet.id }}" />
                        </div>
                        </div>
                         <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                        <input type="submit" class="btn btn-secondary donations__submit" style="border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);" value="Confirmer"/>
                        <button class="btn btn-outline-primary donations__reset" style="border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">Rafraîchir</button>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
          <script>
            var modaldon = document.getElementById("popupModaldon");
            function validateForm() {
                var donationAmount = parseFloat(document.forms["donnationsForm"]["donationAmount"].value);
                var userBalance = {{ app.user.balance|default(0) }};
                var price = {{ projet.price|default(0) }};
                var currentFunding = {{ projet.currentFunding|default(0) }};
                var maxDonation = Math.min(userBalance, price - currentFunding);
                if (isNaN(donationAmount) || donationAmount <= 0) {
                    alert("Veuillez entrer un montant valide supérieur à 0.");
                    return false;
                }
                if (donationAmount > maxDonation) {
                    alert("Le maximum de donation est de " + maxDonation);
                    return false;
                }
                return true;
            }
            document.addEventListener('click', function(event) {
                if (event.target.closest('.open-modal-btn-don')) {
                // var btn = event.target.closest('.open-modal-btn-don');
                    modaldon.style.display = "flex";
                }
            });
            modaldon.querySelector(".close").onclick = function() {
              document.querySelector('.donations__input').value = '500';
                modaldon.style.display = "none";
            };
            // Empêcher la soumission du formulaire lors du clic sur le bouton "Rafraîchir"
            document.querySelector(".donations__reset").onclick = function(event) {
                event.preventDefault();
                document.querySelector('.donations__input').value = '500';
            };
          </script>         
{% endblock %}