{% extends 'base.html.twig' %}
  {% block pageBannerurlretour %}
  {% if cat is not null %}
                <li><a href="{{ path('app_projects', {'cat': 0 ,'page': 1}) }}">Tous Les Projets</a></li>
                <li>{{ cat.name }}</li>
  {% else %}
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li>{{ title }}</li>
  {% endif %}              
   {% endblock %}
{% block body %} 
        <section class="blog_section ">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="row">
                   {% if projets is  empty  %}
                     
                        <div style="text-align: center;">
                          <img width="700" height="500"
                          src="{{asset('assets/images/gallery/empty.png')}}"
                            alt="Talking Minds - Psychotherapist Site Template"
                          />
                        </div>
                           <div class="section_heading text-center">
                          <h2 class="section_heading_text">Il n'y a pas encore de projets disponibles.</h2>
                          <h3>Pourquoi ne pas créer le vôtre et faire la différence?</h3>
                          {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                          <a class="btn-link" href="{{ path('add_project') }}">
                                    <h2 class="btn_text " style="color: var(--bs-primary);">Créer un Projet</h2>
                                    <span class="btn_icon"
                                      ><i class="fa-solid fa-arrow-up-right"></i
                                    ></span>
                                  </a>
                          {% else %}
                          <a class="btn-link" href="{{ path('app_user_login')}}">
                            <h2 class="btn_text" style="color: var(--bs-primary);">Connectez-vous pour créer un projet</h2>
                            <span class="btn_icon"
                              ><i class="fa-solid fa-right-to-bracket"></i
                            ></span>
                          </a>
                         {% endif %}
                        </div>
                     {% else %}
                    {% for projet in projets %}
                        <div class="col-md-6">
                        <div class="blog_item">
                        <div class="blog_image" id="map{{ projet.id }}" style="width: 900px; height: 450px;position: relative; left: 50%; transform: translateX(-50%)">
                        </div>             
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var latitude = {{ projet.latitude }};
                                var longitude = {{ projet.longitude }};
                                var projectName = "{{ projet.name }}"; 

                                var map = L.map('map{{ projet.id }}').setView([latitude, longitude], 15);
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 19,
                                    attribution: '© OpenStreetMap'
                                }).addTo(map);

                                var marker = L.marker([latitude, longitude]).addTo(map)
                                    .bindPopup(projectName + " sera localisé ici.", { offset: L.point(0, -20) });
                                marker.openPopup();

                                // Event listener for zoom changes
                                map.on('zoomend', function() {
                                    // Recenter the map after zooming
                                    map.setView([latitude, longitude], map.getZoom());
                                });
                            });
                        </script>
                        <div class="blog_content">
                            <ul class="post_category unordered_list">
                            <li><a href="{{ path('app_projects', {'cat':  projet.categorie.id ,'page': 1}) }}">{{ projet.categorie.name }}</a></li>
                            </ul>
                            <ul class="post_meta unordered_list">
                            <li>{{projet.user.firstName}}  {{projet.user.lastName}}<i class="fa-solid fa-user"></i></li>
                            <li>{{projet.type}} <i class="fa-solid fa-list-check"></i></li>
                            <li>{{projet.status}} <i class="fa-regular fa-calendar-clock"></i></li>
                            </ul>
                            <ul class="post_meta unordered_list">
                            <li><a href="#!">
                                <progress  value="{{ projet.currentFunding }}" max="{{ projet.price }}" >{{ projet.currentFunding }}%
                                </progress>
                                {{ projet.currentFunding }} / {{ projet.price }} <i class="fa-solid fa-money-bill-trend-up"></i>
                            </a></li>
                            </ul>
                            <h3 class="item_title">
                            <a href="{{path('project_detail', {'id': projet.id})}}">
                                {{ projet.name }}
                            </a>
                            </h3>
                            <p>
                            {{ projet.description|slice(0, 40) ~ (projet.description|length > 40 ? '...' : '') }}
                            </p>
                            <a class="btn-link" href="{{path('project_detail', {'id': projet.id})}}">
                            <span class="btn_text">En savoir plus</span>
                            <span class="btn_icon"
                                ><i class="fa-solid fa-arrow-up-right"></i
                            ></span>
                            </a>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and projet.user.id == app.user.id %}
                                <a class="btn-link" href="#" style="margin-left: 20px;">
                                <span class="btn_text">Mettre À Jour</span>
                                <span class="btn_icon"
                                    ><i class="fa-solid fa-pen"></i
                                ></span>
                                </a>
                            {% else %}
                               <a class="btn-link" href="#" style="margin-left: 20px;">
                              <span class="btn_text">Faire Un Don</span>
                              <span class="btn_icon"
                                  ><i class="fa-solid fa-plus"></i
                              ></span>
                              </a>
                            {% endif %}                            
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-4">
                  <aside class="sidebar ps-lg-4">                  
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                   <div class="form-group">
                      <input
                        id="sidebar_search"
                        class="form-control"
                        type="search"
                        name="search"
                        placeholder=" Créer Votre Projet "
                        disabled
                      />        
                      <a class="btn-link input_icon" href="{{ path('add_project') }}">
                       <br> <i class="fa-solid fa-location-plus fa-xl"></i>
                      </a>            
                    </div>
                    {% else %}
                    <div class="form-group d-flex items-align-center">
                      <input
                        id="sidebar_search"
                        class="form-control"
                        type="search"
                        name="search"
                        placeholder="Se connecter pour créer un projet"
                        disabled
                      />        
                      <a class="btn-link input_icon" href="{{ path('app_user_login')}}">
                        <i class="fa-solid fa-right-to-bracket"></i>
                      </a>            
                    </div>
                    {% endif %}
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="help me balance"
                          />
                        </span>
                        <span class="title_text">Catégories</span>
                      </h3>
                      <ul class="post_category_list unordered_list_block">
                        {% set sortedCategories = categories|sort((a, b) => (a.investments|length) < (b.investments|length)) %}
                        {% for categorie in sortedCategories %}
                        <li>
                          <a href="{{ path('app_projects', { 'cat': categorie.id ,'page': 1}) }}">
                            <span class="category_name">{% if cat != null and categorie.id == cat.id %}<mark>{{categorie.name }}</mark>{% else %}{{categorie.name }} {% endif %}</span>                     
                            {% if categorie.investments|length == 0 %}
                            <span class="category_counter">Nouvelle</span>
                            {% else %}
                            <span class="category_counter">{{ categorie.investments|length }}</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="help me balance"
                          />
                        </span>
                        <span class="title_text">Découvrir les projets à succès</span>
                      </h3>
                      <ul class="reecommended_post_group unordered_list_block">
                        {% for projet in reccprojets|slice(0, 3) %}
                        <li>
                          <div class="blog_item_small">
                            <div class="blog_image">
                              <a class="blog_image_wrap" href="{{path('project_detail', {'id': projet.id})}}">
                                <img
                                 src="{{asset('assets/images/gallery/' ~ random(1,5) ~ '.png')}}"
                                alt="HelpMeBalance"
                                />
                              </a>
                            </div>
                            <div class="blog_content">
                              <h3 class="item_title">
                                <a href="{{path('project_detail', {'id': projet.id})}}">
                                    {{ projet.name }}
                                </a>
                              </h3>
                             <ul class="post_meta unordered_list" style="display: flex; justify-content: space-between; align-items: center; white-space: nowrap;">
                            <li style="flex: 1;">{{ projet.type }} <i class="fa-solid fa-list-check"></i></li>                          
                            <li style="flex: 2; display: flex; align-items: center; white-space: nowrap;">
                                <progress style="flex-shrink: 1; min-width: 100px; max-width: 200px; width: 100%;" 
                                          value="{{ projet.currentFunding }}" 
                                          max="{{ projet.price }}">
                                    {{ projet.currentFunding }}%
                                </progress>
                                <span style="margin-left: 10px;">
                                    {{ projet.currentFunding }} / {{ projet.price }} <i class="fa-solid fa-money-bill-trend-up"></i>
                                </span>
                            </li>
                        </ul>

                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    
                  </aside>
                </div>
            </div>
            <div class="pagination_wrap  section_space_lg col-lg-8">
                <ul class="pagination_nav unordered_list justify-content-center">
                  {% if (totalPages>0)%}
                    {% for page in range(1, totalPages) %}
                    <li {% if curentPage == page %} class="active" {% endif %}>
                        <a href="{{ path('app_projects', { 'cat': (cat is null) ? 0 : cat.id ,'page': page})  }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            </div>
          </section>

          
{% endblock %}