<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    
    <title>{% block title %} {{ titlepage }}Dostourna{% endblock %}</title>
    <link rel="icon" href="{{asset('assets/images/site_logo/logotemp.png')}}" />
    {% block css %}
    
    <!-- Fraimwork - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css">
    <!-- Icon Font - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}" type="text/css">
    <!-- Animation - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}" type="text/css">
    <!-- Cursor - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/cursor.min.css') }}" type="text/css">
    <!-- Carousel - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/slick.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/slick-theme.min.css') }}" type="text/css">
    <!-- Video & Image Popup - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.min.css') }}" type="text/css">
    <!-- Counter - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/odometer.min.css') }}" type="text/css">
    <!-- Custom - CSS Include -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css">

    {% endblock %}
</head>

  <body>
    <!-- Body Wrap - Start -->
    <div class="page_wrapper">
      <!-- Back To Top - Start -->
      <div class="backtotop">
        <a href="#" class="scroll">
          <i class="fa-solid fa-arrow-up"></i>
        </a>
      </div>
      <!-- Back To Top - End -->

      <!-- Site Header - Start
      ================================================== -->
      <header class="site_header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-2 col-5">
              <div class="site_logo">
                <a class="site_link" href="{{ path('app_home') }}">
                  <img
                    src="{{asset('assets/images/site_logo/logotemp.png')}}"
                    alt="Logo"
                    width="150" height="150"
                  />
                </a>
              </div>
            </div>
            {# Navbar part  #}
            {% block Navbar %}
            
            <div class="col-lg-7 col-2">
                <nav class="main_menu navbar navbar-expand-lg">
                <div
                    class="main_menu_inner collapse navbar-collapse justify-content-center"
                    id="main_menu_dropdown"
                >
                    <ul class="main_menu_list unordered_list">
                    <li{% if (part==1)%}  class="active"{% endif %}>
                        <a class="nav-link" href="{{ path('app_home') }}"> <i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
                    </li>
                    <li{% if (part==2)%}  class="active"{% endif %}>
                        <a class="nav-link" href="{{ path('app_home') }}"> <i class="fa-solid fa-book-open-reader"></i> À Propos </a>
                    </li>
                    <li{% if (part==3)%}  class="active"{% endif %}>
                        <a class="nav-link" href="{{ path('app_home') }}"> <i class="fa-solid fa-rectangle-history-circle-plus"></i> Nos Projets </a>  
                    </li>
                     <li{% if (part==4)%}  class="active"{% endif %}>
                        <a class="nav-link" href="{{ path('app_home') }}"> <i class="fa-solid fa-coins"></i> Financement</a>  
                    </li>
                    <li{% if (part==5)%}  class="active"{% endif %}>
                        <a class="nav-link" href="{{ path('app_home') }}"
                        ><i class="fa-solid fa-comments"></i> Contact</a
                        >
                    </li>
                    </ul>
                </div>
                </nav>
            </div>

            {% endblock %}
            <div class="col-lg-3 col-5">
              <ul class="header_btns_group unordered_list justify-content-end">
                <li>
                  <button
                    class="mobile_menu_btn"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#main_menu_dropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="far fa-bars"></i>
                  </button>
                </li>
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  <!-- Profile Dropdown for Logged-in Users -->
                  <li class="nav-item dropdown">
                      <a class="nav-link  dropdown-toggle d-flex justify-content-center items-align-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-user"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                          <li><a class="dropdown-item" href="#">Change Password</a></li>
                          <li><a class="dropdown-item" href="#">Logout</a></li>
                      </ul>
                  </li>
              {% else %}
                  <!-- Login Button for Guests -->
                  <li>
                    <a class="btn btn-primary" href="#">
                      <span class="btn_text" data-text="Maintenant 🫶">
                      Rejoignez-nous
                      </span>
                      <span class="btn_icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                      </span>
                    </a>
                  </li>
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Site Header - End
      ================================================== -->

      
      <!-- Main Body - Start
      ================================================== -->
      <main class="page_content ">
        <br>
        <br>
        <!-- Page Banner - Start
        ================================================== -->
        {% block pageBanner %}
        {%if (title!='')%}
        <section class="page_banner decoration_wrapper ">
          <div class="container ">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1 class="page_title mb-0">{{ title }}</h1>
              </div>
              <div class="col-lg-6">
                <ul
                  class="breadcrumb_nav unordered_list justify-content-lg-end justify-content-center"
                >
                {% block pageBannerurlretour %}
                  <li><a href="{{ path('app_home') }}">Home</a></li>
                  <li>{{ title }}</li>
                  {% endblock %}
                </ul>
              </div>
            </div>
          </div>
          <div class="decoration_item shape_leaf_1">
            <img
              src="{{asset('assets/images/shapes/shape_leaf_left.svg')}}"
              alt="Shape Leaf - Talking Minds - Psychotherapist Site Template"
            />
          </div>
          <div class="decoration_item shape_leaf_2">
            <img
              src="{{asset('assets/images/shapes/shape_leaf_right.svg')}}"
              alt="Shape Leaf - Talking Minds - Psychotherapist Site Template"
            />
          </div>
        </section>
        <br>
        <br>
        {% endif %}
        {% endblock %}
        <!-- Page Banner - End
        ================================================== -->
       
        {% block body %}       
        {% endblock %}
      </main>
      <!-- Main Body - End
      ================================================== -->

      <!-- Site Footer - Start
      ================================================== -->
      <footer class="site_footer bg_primary  ">
        <div class="container ">
          <div class="site_footer_content">
            <div class="row align-items-center">
              <div class="col-lg-3">
                <div class="site_logo">
                  <a class="site_link" href="{{ path('app_home') }}">
                    <img
                      src="{{asset('assets/images/site_logo/logotemp.png')}}"
                      alt=" Logo"
                      width="200" height="200"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="info_list unordered_list justify-content-center" >
                  <li >
                    <a href="{{ path('app_home') }}" style="color: var(--bs-dark);">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text" >Home</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('app_home') }}" style="color: var(--bs-dark);">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">About</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('app_home') }}" style="color: var(--bs-dark);">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Projects</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('app_home', {'page':1}) }}" style="color: var(--bs-dark);">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Blog</span>
                    </a>
                  </li>
                    <a href="{{ path('app_home') }}" style="color: var(--bs-dark);">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Contacts</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3">
                <ul
                  class="social_links unordered_list justify-content-center justify-content-lg-end"
                >
                  <li>
                    <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#!"><i class="fa-brands fa-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="copyright_widget text-center">
            <p class="copyright_text m-0">
              <b>BinaryBots</b> © 2024 <b>DostournaChain</b> All rights reserved. 
            </p>
          </div>
        </div>
      </footer>
      <!-- Site Footer - End
      ================================================== -->
    </div>
    <!-- Body Wrap - End -->

    <!-- Fraimwork - Jquery Include -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-dropdown-ml-hack.min.js') }}"></script>

    <!-- animation - jquery include -->
    <script src="{{ asset('assets/js/cursor.min.js') }}"></script>

    <!-- Carousel - Jquery Include -->
    <script src="{{ asset('assets/js/slick.min.js') }}"></script>

    <!-- Video & Image Popup - Jquery Include -->
    <script src="{{ asset('assets/js/magnific-popup.min.js') }}"></script>

    <!-- Counter - Jquery Include -->
    <script src="{{ asset('assets/js/appear.min.js') }}"></script>
    <script src="{{ asset('assets/js/odometer.min.js') }}"></script>

    <!-- Custom - Jquery Include -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
  </body>
</html>
